name: ashir g

on:
    push:
         branches: [ main]

jobs:
    demo:
    runs-on: ubuntu-latest 

    steps:
            - name: thnk ful
                
    run: echo "i am thnk ful to you brother"
 
