name: ashir g

on:
    push:
       branches: [main]
   
jobs:
    demo:
       runs-on: ubuntu-latest
       
       steps:
             - name: thnks
               run: echo "thnk you"
       


       
       
      
      
    

    
         
 
